@import 'bootstrap';

body {
  background-size: cover;
  background: url('../../images/background.jpg');
}

.navContainer {
  margin-bottom: 50px;
  padding-bottom: 50px;
  .navbar-brand {
    overflow: visible;
    img {
      width: 45px;
      height: 45px;
      font-color: RGBA(38, 28, 65, 1.00);
    }
  }
}

.exerciseLibrary {
  float: left;
}

.workout {
  position: relative;
  &:hover {
    ul.subnav { display: inline-block; }
  }
  ul.subnav {
    display: none;
    text-align: left;
    list-style: none;
    position: absolute;
    left: 30px;
    bottom: -30px;
    width: 100px;
    padding-left: 5px;
    border-radius: 5px;
    background-color: RGBA(248, 248, 248, 1.00);
  }
  ul.subnav li {
    padding-top: 10px;
  }
}

.exercise {
  position: relative;
  &:hover {
    ul.subnav { display: inline-block; }
  }
  ul.subnav {
    display: none;
    text-align: left;
    list-style: none;
    position: absolute;
    left: 30px;
    bottom: -30px;
    width: 110px;
    padding-left: 5px;
    border-radius: 5px;
    background-color: RGBA(248, 248, 248, 1.00);
  }
  ul.subnav li {
    padding-top: 10px;
  }
}

.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: RGBA(248, 248, 248, 1.00);
  p {
    text-align: center;
    margin: 20px 0;
  }
}

ui-view {
  color: RGBA(2, 2, 43, 1.00);
}

.form-control {
  display: inline-block;
}

footer {
  margin-top: 50px;
}
.homeContainer {
  opacity: .7;
  position: relative;
  img {
    position: absolute;
    top: 50px;
    right: 75px;
    width: 300px;
  }
}
.loginContainer {
  background: RGBA(248, 248, 248, 1.00);
  padding: 50px;
  color: RGBA(2, 2, 43, 1.00);
  border-radius: 20px;
  h2 {
    margin: 0;
    margin-bottom: 30px;
  }
}

.registerContainer {
  background: RGBA(248, 248, 248, 1.00);
  padding: 50px;
  color: RGBA(2, 2, 43, 1.00);
  border-radius: 20px;
  margin-bottom: 100px;
  h2 {
    margin: 0;
    margin-bottom: 30px;
  }
}

.addWorkoutContainer {
  background: RGBA(248, 248, 248, 1.00);
  padding: 50px;
  color: RGBA(2, 2, 43, 1.00);
  border-radius: 20px;
  margin-bottom: 100px;
  h1 {
    margin: 0;
    margin-bottom: 30px;
  }
  input {
    width: 500px;
  }
  input.time {
    width: 225px;
  }
}

.myWorkoutContainer {
  background: RGBA(248, 248, 248, 1.00);
  padding: 50px;
  color: RGBA(2, 2, 43, 1.00);
  border-radius: 20px;
  margin-bottom: 100px;
  overflow: hidden;
  i {
    margin-left: 30px;
  }
  h1 {
    display: inline-block;
    margin: 0;
    margin-bottom: 30px;
  }
  .btn-lg {
    margin-left: 30px;
  }
  .list-group {
    float: left;
    clear: both;
  }
  .list-group-item {
    display: inline-block;
    color: RGBA(84, 55, 83, 1.00);
  }
  .list.btn-primary {
    color: #fff;
    background-color: RGBA(104, 71, 98, 1.00);
    &:hover {
      background: RGBA(137, 103, 120, 1.00);
    }
  }
}

.singleWorkoutContainer {
  background: RGBA(248, 248, 248, 1.00);
  padding: 50px;
  color: RGBA(2, 2, 43, 1.00);
  border-radius: 20px;
  margin-bottom: 100px;
  label {
    display: inline-block;
  }
  h2 {
    margin: 0;
  }
  h4 {
    display: inline-block;
  }
  .progress {
    width: 300px;
  }

}

.addExerciseContainer {
  background: RGBA(248, 248, 248, 1.00);
  padding: 50px;
  color: RGBA(2, 2, 43, 1.00);
  border-radius: 20px;
  margin-bottom: 100px;
  .bodyParts {
    width: 200px;
  }
  label {
    display: inline-block;
  }
  h1 {
    margin: 0;
    margin-bottom: 30px;
  }
}

.exercisesContainer {
  overflow: hidden;
  background: RGBA(248, 248, 248, 1.00);
  padding: 50px;
  color: RGBA(2, 2, 43, 1.00);
  border-radius: 20px;
  margin-bottom: 100px;

  h1 {
    margin: 0;
    margin-bottom: 30px;
  }
  h3 {
    display: inline-block;
  }
  li {
    font-size: 20px;
    padding: 5px;
    float: left;
    display: block;
    clear: both;
    overflow: auto;
  }
  strong {
    margin-left: 40px;
  }
  .comment {
    padding-top: 30px;
    float: left;
    clear: both;
  }
  .exerciseComponents {
    float: left;
    padding-left: 10px;
    li {
      font-size: 17px;
      width: 300px;
    }

  }
  .warmUp {
    float: left;
    margin: 0px;
    width: 150px;
  }
  .cardio {
    float: left;
    width: 150px;
  }
  .strength {
    float: left;
    width: 150px;
  }
  .endurance {
    float: left;
    width: 150px;
  }
  .flexibility {
    float: left;
    width: 150px;
  }
  .other {
    float: left;
    width: 150px;
  }
}

.workoutExerciseContainer {
  overflow: hidden;
  background: RGBA(248, 248, 248, 1.00);
  padding: 50px;
  color: RGBA(2, 2, 43, 1.00);
  border-radius: 20px;
  margin-bottom: 100px;
  .exerciseLibrary {
    width: 200px;
    margin: 20px;
  }
  label {
    display: inline-block;
  }
  h1 {
    margin: 0;
    margin-bottom: 30px;
  }
  h4 {
    display: inline-block;
  }

  .btn-lg {
    float: left;
    clear: both;
  }
}

.singleExerciseContainer {
  overflow: hidden;
  background: RGBA(248, 248, 248, 1.00);
  padding: 50px;
  color: RGBA(2, 2, 43, 1.00);
  border-radius: 20px;
  margin-bottom: 100px;
  .exerciseLibrary {
    width: 200px;
    margin: 20px;
  }
  label {
    display: inline-block;
  }
  h1 {
    margin: 0;
    margin-bottom: 30px;
  }
  h2 {
    display: inline-block;
  }
  img {
    width: 50%;
  }
}
