@import 'bootstrap';

body {
  background: url("../../images/background.jpg");
  background-size: 100%;
}

.exerciseForm {
  padding: 10px;
  border: 1px solid black;
  display: inline-block;
}

li {
  list-style: none;
}
