<h2>Add Workout</h2>

<h3>Exercises to add in workout:</h3>
  <div class="form-group exerciseForm" ng-repeat="exercise in vm.getExerciseLibrary">
    <h4>{{ exercise.name }}</h4>
    <ul>
      <li>Body part used: {{ exercise.bodyPart }}</li>
      <li>Component of exercise: {{ exercise.component }}</li>
      <li>Number of sets: {{ exercise.sets }}</li>
      <li>Number of reps: {{ exercise.reps }}</li>
      <li>Rest time: {{ exercise.restTime }}</li>
      <li>Equipment used: {{ exercise.equipment }}</li>
    </ul>
    <label class="checkbox-inline">Add to Workout List</label>
    <input type="checkbox" value="" ng-model="exercise.id in vm.getExerciseLibrary">
  </div>

<form ng-submit="vm.addWorkout(workout)">
  <br><br>
  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" placeholder="What are you focusing on today? (ex. push day ), or what body parts are you focusing on today? (ex. legs and shoulders )" ng-model="workout.description">
  </div>
  <div class="form-group">
    <label>Intensity</label>
    <input type="text" class="form-control" placeholder="On a scale of 1-10, how intense was this workout?" ng-model="workout.intensity">
  </div>
  <div class="form-group">
    <label>Rating</label>
    <input type="text" class="form-control" placeholder="On a scale of 1-10, how did you feel about this workout?" ng-model="workout.rating">
  </div>
  <div class="form-group">
    <label>Duration of Workout</label>
    <input type="text" class="form-control" placeholder="How long did it take you to finish this workout?" ng-model="workout.duration">
  </div>
  <div class="form-group">
    <label>Date Completed</label>
    <input type="text" class="form-control" placeholder="What day did you complete this workout?" ng-model="workout.dateCompleted">
  </div>
  <button type="submit" class="btn btn-default">Submit New Workout</button>
</form>
