<h2>Add Exercise</h2>
{{exercise}}
<form ng-submit="vm.addExercise(exercise)" ng-init="exercise = {}">
  <!--  ng-init = starts up the exercise model as an empty object so that checklist-model works-->
  <br><br>
  <div class="form-group">
    <label>Name of Exercise</label>
    <input type="text" class="form-control" placeholder="Name" ng-model="exercise.name">
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control" rows="3" placeholder="How do you perform the exercise?" ng-model="exercise.description"></textarea>
  </div>
  <div class="form-group">
    <label>General Body Part(s) Trained </label>
    <div class="bodyParts">
      <label class="checkbox-inline" ng-repeat="bp in vm.bodyParts">
        <input type="checkbox" checklist-model="exercise.bodyPart" checklist-value="bp"> {{bp}}
      </label>
    </div>
  </div>
  <div class="form-group">
    <label>Muscles Trained (optional)</label>
    <div class="muscles">
      <div ng-repeat="muscle in vm.muscles">
        <input type="checkbox" checklist-model="exercise.muscles" checklist-value="muscle"> {{muscle}}
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Component of Exercise</label>
    <select class="dropdown" ng-model="exercise.component">
      <option value="cardio">cardio</option>
      <option value="strength">strength</option>
      <option value="endurance">endurance</option>
      <option value="flexibility">flexibility</option>
    </select>
  </div>
  <div class="form-group">
    <label>Equipment (optional)</label>
    <input type="text" class="form-control" placeholder="What equipment is used for the exercise?" ng-model="exercise.equipment">
  </div>
  <button type="submit" class="btn btn-default">Submit New Exercise</button>
</form>
