<div class="addExerciseContainer">
  <h1>Add Exercise</h1>
  <form ng-submit="vm.addExercise(exercise)" ng-init="exercise = {}">
    <!--  ng-init = starts up the exercise model as an empty object so that checklist-model works-->
    <br><br>
    <div class="form-group">
      <label>Name of Exercise</label>
      <input type="text" class="form-control" placeholder="Name" ng-model="exercise.name">
    </div>
    <div class="form-group">
      <label>Image of Exercise (optional)</label>
      <input type="text" class="form-control" placeholder="Insert photo here (http://, .jpeg, .png, etc.)" ng-model="exercise.image">
    </div>
    <div class="form-group">
      <label>Description (optional)</label>
      <textarea class="form-control" rows="3" placeholder="How do you perform the exercise?" ng-model="exercise.description"></textarea>
    </div>
    <div class="form-group">
      <label>General Body Part(s) Trained </label>
      <div class="bodyParts">
        <div ng-repeat="bp in vm.bodyParts">
          <input type="checkbox" checklist-model="exercise.bodyPart" checklist-value="bp"> {{bp}}
      </div>
      <br>
    </div>
    <div class="form-group">
      <label>Component of Exercise</label>
      <select class="dropdown" ng-model="exercise.component">
        <option value="Cardio">Cardio</option>
        <option value="Resistance">Resistance</option>
        <option value="Flexibility">Flexibility</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div class="form-group">
      <label>Sets</label><br>
      <select class="dropdown" ng-model="exericse.sets">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>
    <div class="form-group">
      <label>Reps for Each Set</label><br>
      <select class="dropdown" ng-model="exercise.reps">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
      </select>
    </div>
    <div class="form-group">
      <label>Equipment (optional)</label>
      <input type="text" class="form-control" placeholder="What equipment is used for the exercise?" ng-model="exercise.equipment">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg">Submit New Exercise</button>
    </div>
    <br><br><br>
  </form>
</div>
