<h2>Add Workout</h2>
<form ng-submit="vm.addWorkout(workout)">
  <br><br>
  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" placeholder="What are you focusing on today? (ex. push day ), or what body parts are you focusing on today? (ex. legs and shoulders )" ng-model="workout.description">
  </div>
  <div class="form-group">
    <label>Intensity</label>
    <input type="text" class="form-control" placeholder="On a scale of 1-10, how intense was this workout?" ng-model="workout.intensity">
  </div>
  <div class="form-group">
    <label>Rating</label>
    <input type="text" class="form-control" placeholder="On a scale of 1-10, how did you feel about this workout?" ng-model="workout.rating">
  </div>
  <div class="form-group">
    <label>Duration of Workout</label>
    <input type="text" class="form-control" placeholder="How long did it take you to finish this workout?" ng-model="workout.duration">
  </div>
  <div class="form-group">
    <label>Date Completed</label>
    <input type="text" class="form-control" placeholder="What day did you complete this workout?" ng-model="workout.dateCompleted">
  </div>
  <button type="submit" class="btn btn-default">Submit New Workout</button>
</form>
