<div>
  <h2>Current Workout: <small>{{vm.singleWorkout.description}}</small></h2>
</div>
  <h5>Exercises to Add:</h5>
  <form ng-submit="vm.addWorkoutExercise(exercises)" ng-init="exercises = []">
    <div class="form-group exerciseLibrary" ng-repeat="exercise in vm.exerciseLibrary" ng-style="selectedExercise">
      <h4>{{ exercise.name }}</h4>
        <ul>
          <li>Body part used: {{ exercise.bodyPart }}</li>
          <li>Component of exercise: {{ exercise.component }}</li>
          <li>Equipment used: {{ exercise.equipment }}</li>
        </ul>
      <label class="checkbox-inline">Add to Workout List</label>
      <input type="checkbox" checklist-model="exercises" checklist-value="exercise.id">
    </div>
    <button class="btn btn-default">Add Exercises to Your Workout</button>
  </form>
