<div class="exercisesContainer">
  <div class="exerciseLibrary">
    <h1>Exercise Library:</h1>
      <div class="exerciseComponents">
        <div class="cardio">
          <h3><strong>Cardio</strong></h3>
            <ul>
             <li ng-repeat="exercise in vm.exerciseLibrary | orderBy: 'name' | filter: {component: 'Cardio'}"><a href="/#/exercises/{{exercise.id}}">{{exercise.name}}</a></li>
            </ul>
        </div>
        <div class="resistance">
          <h3><strong>Resistance</strong></h3>
          <ul>
            <li ng-repeat="exercise in vm.exerciseLibrary | orderBy: 'name' | filter: {component: 'Resistance'}"><a href="/#/exercises/{{exercise.id}}">{{exercise.name}}</a></li>
          </ul>
        </div>
        <div class="flexibility">
          <h3><strong>Flexibility</strong></h3>
          <ul>
            <li ng-repeat="exercise in vm.exerciseLibrary | orderBy: 'name' | filter: {component: 'Flexibility'}"><a href="/#/exercises/{{exercise.id}}">{{exercise.name}}</a></li>
          </ul>
        </div>
        <div class="other">
          <h3><strong>Other</strong></h3>
          <ul>
            <li ng-repeat="exercise in vm.exerciseLibrary | orderBy: 'name' | filter: {component: 'Other'}"><a href="/#/exercises/{{exercise.id}}">{{exercise.name}}</a></li>
          </ul>
        </div>
      </div>
   </div>
  <div class="comment">
    <i>Didn't find what you were looking for?</i><br>
    <a class="btn btn-primary btn-lg" href="/#/exercises/add">Add A New Exercise!</a>
  </div>
</div>
