<div class="homeContainer">
  <h4>aMaSS <small>by Benjie Songsong</small></h4>
  <div class="jumbotron">
  <h1>Welcome to aMaSS!</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>
    <h4>New User?</h4><a class="btn btn-primary btn-lg" href="/#/register" role="button">Lets Get Started!</a></p>
</div>
</di>
