 <div class="singleWorkoutContainer">
  <h1><strong>{{vm.detailedWorkout.description}}</strong></h1>

  <label>Rating Scale: </label>
  <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{vm.detailedWorkout.rating}}" style="width: {{vm.detailedWorkout.rating / 10 * 100 + '%'}}">
      <span class"sr-only"> {{vm.detailedWorkout.rating + '/10'}} </span>
    </div>
  </div>
  <label>Intensity Scale: </label>
  <div class="progress">
    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{vm.detailedWorkout.intensity}}" style="width: {{vm.detailedWorkout.intensity / 10 * 100 + '%'}}">
      <span class"sr-only"> {{vm.detailedWorkout.intensity + '/10'}} </span>
    </div>
  </div>
  <h2>Exercises involved:</h2>
  <div class="myExercises" ng-repeat="exercise in vm.workoutExercises | unique: 'exercise.id'">
    <a href="/#/exercises/{{exercise.exercise.id}}"><h4>{{exercise.exercise.name}}</h4></a>
    <p>Body Part(s) Trained: <strong>{{exercise.exercise.bodyPart}}</strong></p>
    <hr>
  </div><br><br>
    <a class="btn btn-primary btn-lg" href="/#/workouts/{{vm.detailedWorkout.id}}/exercises/add">Add Exercises To {{vm.detailedWorkout.description}}</a>
</div>
