<h2>Workout Details</h2>
<div class="detailedworkout">
  <ul>
    <li>Day Completed: {{vm.detailedWorkout.dateCompleted}}</li>
    <li>Description: {{vm.detailedWorkout.description}}</li>
    <li>Intensity: {{vm.detailedWorkout.intensity}}</li>
    <li>Rating: {{vm.detailedWorkout.rating}}</li>
  </ul>
</div>

<div class="myExercises" ng-repeat="exercises in vm.workoutExercises">
  <h5>Exercises involved:</h5>
</div>
<button type="button" class="btn btn-default"> <a href="/#/workouts/:workoutId/exercises/add">Add Exercise To My Workout</a></button>
<button type="button" class="btn btn-default btn-lg"> <a href="/#/exercises/add">Add Exercise To Library</a></button>
