<div class="singleWorkoutContainer">
  <h1><strong>{{vm.detailedWorkout.description}}</strong></h1>

  <label>Rating Scale: </label>
  <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{vm.detailedWorkout.rating}}" style="width: {{vm.detailedWorkout.rating / 10 * 100 + '%'}}">
      <span class"sr-only"> {{vm.detailedWorkout.rating + '/10'}} </span>
    </div>
  </div>
  <label>Intensity Scale: </label>
  <div class="progress">
    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{vm.detailedWorkout.intensity}}" style="width: {{vm.detailedWorkout.intensity / 10 * 100 + '%'}}">
      <span class"sr-only"> {{vm.detailedWorkout.intensity + '/10'}} </span>
    </div>
  </div>

  <h2>Exercises involved:</h2>
  <div class="myExercises" ng-repeat="exercise in vm.workoutExercises">
    <h4>Name of Exercise: {{exercise.exercise.name}}</h4>
    <ul>
      <li>Description: {{exercise.exercise.description}}</li>
      <li>Exercise Component: {{exercise.exercise.component}}</li>
      <li>Body Parts Trained: {{exercise.exercise.bodyPart}}</li>
      <li>Muscles Trained: {{exercise.exercise.muscles}}</li>
      <li>Equipment: {{exercise.exercise.equipment}}</li>
    </ul>
  </div>
    <a class="btn btn-primary btn-lg" href="/#/workouts/{{vm.detailedWorkout.id}}/exercises/add">Add Exercises To "{{vm.detailedWorkout.description}}"</a>
</div>
