<div class="myWorkoutContainer">
  <h2>Hello {{ vm.name }}!</h2>
  <h3>Here are your Workouts: </h3>

  <div class="list-group">
    <button type="button" class="list-group-item" ng-repeat="workout in vm.myWorkouts">
      <a href="/#/workouts/{{workout.id}}">
        <strong>Day: </strong>{{workout.dateCompleted | date:'MM-dd-yyyy'}}
        <strong>Description: </strong>{{workout.description}}
      </a>
    </button>
  </div>

  <a class="btn btn-primary btn-lg" href="/#/workouts/add" role="button">Add New Workout</a>
</div>
